<header class="header">
    <nav class="header-inner">
        <a href="/" class="nav-icon" aria-label="visiter la page d'accueil" aria-current="page">
            <img src={{ asset("./images/logo-dev-flow-white.png") }} alt="logo"/>
        </a>
        <div class="main-navlinks">
            <input type="checkbox" id="hamburger-button">
            <label for="hamburger-button">
                <span class="burger"></span>
                <span class="burger"></span>
                <span class="burger"></span>
            </label>
            <div class="navlinks-container">
                <a href="{{ path("home") }}" aria-current="page">
                    <span {% if app.request.attributes.get('_route') == "home" %}class="active"{% endif %}></span>
                    <span>Accueil</span>
                </a>
                <a href="{{ path("labo_index") }}">
                    <span {% if 'labo' in app.request.attributes.get('_route') %}class="active"{% endif %}></span>
                    <span>Le Labo</span>
                </a>
                <a href="{{ path('challenge_index') }}">
                    <span {% if 'challenge' in app.request.attributes.get('_route') %}class="active"{% endif %}></span>
                    <span>Challenges</span>
                </a>
                <a href="{{ path("chat_index") }}">
                    <span {% if 'chat' in app.request.attributes.get('_route') %}class="active"{% endif %}></span>
                    <span>Chat</span>
                </a>
                {% if app.user %}
                    <a href="#">
                        <span></span>
                        <span  {% if 'profile' in app.request.attributes.get('_route') %}class="active"{% endif %}>Profil</span>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="nav-authentication">
            {% if app.user is null %}
                <a href="#" class="sign-user" aria-label="page de connexion">
                    <i class="fa-solid fa-user"></i>
                </a>
            {% endif %}
            <div class="sign-btns">
                {% if app.user is null %}
                    <a href="{{ path('app_login') }}" aria-label="connexion">
                        <span></span>
                        <span>Connexion</span>
                    </a>
                    <a href="/inscription" aria-label="inscription">
                        <span></span>
                        <span>Inscription</span>
                    </a>
                {% else %}
                    <a href="/deconnexion" aria-label="deconnexion">
                        <span></span>
                        <span>Deconnexion</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
