{% extends 'base.html.twig' %}

{% block title %}Le Labo - catégorie{% endblock %}

{% block body %}

    {% block header %}
        {% include "./header/_header.html.twig" %}
    {% endblock %}

    <main>
        <section>
            <h2>Les catégories</h2>
            <div class="categories__container">
                {% for category in categories %}
                    <a href="{{ path("labo_by_category", {category: category.name}) }}"
                       style="background-color: {{ category.color }}">{{ category.name }}</a>
                {% endfor %}
                <a href="{{ path("labo_index") }}">Tous</a>
            </div>
        </section>

        {{ include('./labo/_courses.html.twig') }}
    </main>

{% endblock %}
